<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cocktail page</title>
</head>

<body>
  <h1>Questa è la pagina del cocktail: </h1>
  <script>
    const urlParams = new URLSearchParams(window.location.search);

    const myParam = urlParams.get('drinkId');
    console.log(myParam)
    const strTitle = document.querySelector(`h1`);

    strTitle.innerText += myParam;
  </script>
</body>

</html>