<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body class="custom-container">
    <header>
      <nav class="navbar navbar-expand-lg d-flex justify-content-between custom-navbar">
        <a class="navbar-brand pl-2 custom-navbar-brand" href="#">Logo</a>
          <ul class="navbar-nav pl-3">
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
      </nav>
    </header>
    <section class="present">
      <h3>Lorem Ipsum Dolor Sit Amet Consectetur Adipisici</h3>
      <button class="button">Get new Cocktails!</button>
    </section>
  </body>
</html>
