<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Random Cocktail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="random.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>


<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand pl-2" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav pl-3">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<body>
  <section class="container card-container d-flex flex-column ">

    <div id="cocktail-1" class="card cocktail-card">
      <img src="..." class="card-img-top cocktail-card-img-top-custom " alt="...">
      <h4 class="card-title card-title-custom"></h4>
      <h5 class="card-ingredients">Ingredients</h5>
      <a id="addFav-1" role="button" class="btn btn-custom">
        Add to <img src="https://img.icons8.com/emoji/48/000000/glowing-star.png" class="icon"/>
      </a>
      <p class="card-text card-text-custom "></p>
      <h6 class="card-subtitle mb-2 text-muted d-none"></h6>
    </div>

    <div id="cocktail-2" class="card cocktail-card">
      <img src="..." class="card-img-top cocktail-card-img-top-custom " alt="...">
      <h4 class="card-title card-title-custom"></h4>
      <h5 class="card-ingredients">Ingredients</h5>
      <a id="addFav-2" role="button" class="btn btn-custom">
        Add to <img src="https://img.icons8.com/emoji/48/000000/glowing-star.png" class="icon"/>
       
      </a>
      <p class="card-text card-text-custom "></p>
      <h6 class="card-subtitle mb-2 text-muted d-none"></h6>
    </div>

    <div id="cocktail-3" class="card cocktail-card ">
      <img src="..." class="card-img-top cocktail-card-img-top-custom " alt="...">
      <h4 class="card-title card-title-custom"></h4>
      <h5 class="card-ingredients">Ingredients</h5>
      <a id="addFav-3" role="button" class="btn btn-custom">
        Add to <img src="https://img.icons8.com/emoji/48/000000/glowing-star.png" class="icon"/>
      </a>
      <p class="card-text card-text-custom "></p>
      <h6 class="card-subtitle mb-2 text-muted d-none"></h6>
    </div>

    </div>
  </section>

  <button id="shuffle" type="button" class="btn btn-primary btn-lg btn-block button-shuffle">
    Get new Cocktails !
  </button>

  <table class="table favourites-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cocktail Id</th>
        <th scope="col">Cocktail Name</th>
        <th scope="col">Cocktail Category</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script>
    //auxiliary functions

    // given a drink object and an idString, display its information in the card with the correspondant id
    const displayDrink = (drink, idString) => {
      // img sect
      const cardImg = document.querySelector(`#${idString} .card-img-top`);
      const imgDrink = `${drink.strDrinkThumb}/preview`;
      cardImg.src = imgDrink;

      // title sect
      const cardTitle = document.querySelector(`#${idString} .card-title`);
      const nameDrink = drink.strDrink;
      cardTitle.textContent = nameDrink;

      // subtitle sect
      const cardSubTitle = document.querySelector(
        `#${idString} .card-subtitle`
      );
      const idDrink = drink.idDrink;
      cardSubTitle.textContent = idDrink;

      // text sect
      const cardText = document.querySelector(`#${idString} .card-text`);
      const descDrink = drink.strInstructions;
      cardText.textContent = descDrink;


      // ingredients list
      // generate array of ingredients
      const ingredientsArray = [];
      for (const property in drink) {
        if (
          property.includes('strIngredient') &&
          drink[property] !== null &&
          drink[property] !== ''
        ) {
          //178320
          ingredientsArray.push(drink[property]);
        }
      }
      const cardIngredients = document.querySelector(`#${idString} .card-ingredients`);
      const nIngredients = ingredientsArray.length;
      cardIngredients.textContent = `${nIngredients} ingredients`;

      // generate html to append to <ul class="list-group list-group-flush">
      const cardList = document.querySelector(`#${idString} .list-group`);
      let listItemsHtml = '';
      ingredientsArray.forEach((ingredient) => {
        listItemsHtml += `<li class="list-group-item">${ingredient}</li>`;
      });

      /* cardList.innerHTML = listItemsHtml; */


    };

    // given an idString, "call" axios to display a new cocktail
    const shuffle = (idString) => {
      axios
        .get('https://www.thecocktaildb.com/api/json/v1/1/random.php')
        .then((response) => {
          const cocktail = response.data.drinks[0];
          displayDrink(cocktail, idString);
        });
    };

    // given an idString, add a row with cocktail info to the Favourites Table
    // counter to know how many favourites have been added, also used in the first column of the table
    let favCounter = 0;
    const addFavRow = (idString) => {
      axios
        .get(
          `https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=${idString}`
        )
        .then((response) => {
          const cocktail = response.data.drinks[0];
          const favTable = document.querySelector('.favourites-table tbody');

          // create new row
          const row = favTable.insertRow(favCounter);
          const favNumberCell = row.insertCell(0);
          const favIdCell = row.insertCell(1);
          const favNameCell = row.insertCell(2);
          const favCategoryCell = row.insertCell(3);

          // fill cells content
          favNumberCell.innerHTML = favCounter + 1;
          // TASK voglio che questo id sia un link alla route "/cocktail?drinkId=idDrink"
          favIdCell.innerHTML = `<a href="/cocktail?drinkId=${cocktail.idDrink}">${cocktail.idDrink}</a>`;
          favNameCell.innerHTML = cocktail.strDrink;
          favCategoryCell.innerHTML = cocktail.strCategory;

          // adjust number of favourites added
          favCounter++;
        });
    };

    // button listener (shuffle)
    const btnShuffle = document.querySelector(`#shuffle`);
    btnShuffle.addEventListener('click', () => {
      shuffle('cocktail-1');
      shuffle('cocktail-2');
      shuffle('cocktail-3');
    });

    // button listeners (add to favourites)
    const btnAddFav1 = document.querySelector(`#addFav-1`);
    const btnAddFav2 = document.querySelector(`#addFav-2`);
    const btnAddFav3 = document.querySelector(`#addFav-3`);

    btnAddFav1.addEventListener('click', () => {
      const drinkId = document.querySelector('#cocktail-1 .card-subtitle')
        .textContent;
      addFavRow(drinkId);
    });
    btnAddFav2.addEventListener('click', () => {
      const drinkId = document.querySelector('#cocktail-2 .card-subtitle')
        .textContent;
      addFavRow(drinkId);
    });
    btnAddFav3.addEventListener('click', () => {
      const drinkId = document.querySelector('#cocktail-3 .card-subtitle')
        .textContent;
      addFavRow(drinkId);
    });

    // display cocktail info at 1st visit
    shuffle('cocktail-1');
    shuffle('cocktail-2');
    shuffle('cocktail-3');
  </script>
</body>

</html>