/*nuove classi*/
.custom-container {
  background-color: #9955f0;
}

.custom-navbar {
  background-color: #6335e1;
}

.custom-navbar-brand {
  color: white;
}

.custom-nav-link {
  color: white;
}

.custom-title {
  color: white;
  padding: 2rem 0 0 1.25rem;
}

.custom-button {
  background-color: #21fff2;
  border-color: #21fff2;
  border-radius: 45px;
  padding: 17px 24px;
  font-weight: bold;
  color: #9955f0;
}
