/*nuove classi*/
html {
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom left, #9955f0, #6335e1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.custom-navbar {
  background-color: #6335e1;
}

.custom-navbar a:hover {
  color: white;
  text-decoration: underline;
}

.custom-navbar-brand {
  color: white;
}

.custom-nav-link {
  color: white;
}

.custom-navbar-item-active {
 font-weight: 700;
}

main {
  height: 100%;
}

.custom-title {
  color: white;
  padding: 2rem 0 0 1.25rem;
}

.custom-container {
  justify-content: center;
}

/*style che usano le card*/
.btn.btn-custom {
	position: absolute;
	top: 0;
	right: -1rem;
	color : white;
	text-shadow: 2px 0 0 #626262c5, -2px 0 0 #626262c5, 0 2px 0 #626262c5, 0 -2px 0 #626262c5, 1px 1px #626262c5, -1px -1px 0 #626262c5, 1px -1px 0 #626262c5, -1px 1px 0 #626262c5;
}
.card-title-custom {
	display: inline-flex;
	text-align: left;
  text-shadow: 2px 0 0 #d6aaff85, -2px 0 0 #d6aaff85, 0 2px 0 #d6aaff85, 0 -2px 0 #d6aaff85, 1px 1px #d6aaff85, -1px -1px 0 #d6aaff85, 1px -1px 0 #d6aaff85, -1px 1px 0 #d6aaff85;
	margin-top: -4.5rem;
	margin-left: 0.5rem;
}
.card-ingredients {
	display: inline-flex;
  text-shadow: 2px 0 0 #d6aaff85, -2px 0 0 #d6aaff85, 0 2px 0 #d6aaff85, 0 -2px 0 #d6aaff85, 1px 1px #d6aaff85, -1px -1px 0 #d6aaff85, 1px -1px 0 #d6aaff85, -1px 1px 0 #d6aaff85;
	margin-left: 0.5rem;
}
.icon{
	max-width: 22%;
	max-height: 22%;
}
.card-text-custom {
  text-align: left;
  padding: 1rem;
}
.cocktail-card-img-top {
	width: 200px;
	margin: 1rem auto;
	align-self: center;
	position: absolute;
	top: 1rem;
}
.card.cocktail-card {
	width: 21rem;
	text-align: center;
  background-color: hsla(270, 79%, 85%, 0.774);
}



/* bottone*/
.custom-button {
  background-color: #21fff2;
  border-color: #21fff2;
  border-radius: 45px;
  padding: 17px 24px;
  font-weight: bold;
  color: #9955f0;
}
