@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #6E3BE4;
}

.custom-navbar {
  background-color: #6335e1;
}

.section-logo {
  padding: 20px;
  overflow: hidden;
}

.styling-logo {
  float: left;
}

.styling-logo h2 {
  margin-left: 150px;
  color: #fff;
  font-size: 30px;
}

.styling-link {
  float: right;
  margin-top: 10px;
  margin-right: 150px;
}
.styling-link a {
  color: #fff;
  text-decoration: none;
  margin: 5px 20px;
  font-size: 20px;
}

.button {
  position: relative;
  background-color: #21FFF2;
  font-size: 22px;
  color: #9955F0;
  border-radius: 1rem;
  padding: 1rem;
}

body {
  display: inline;
  background-color: #6E3BE4;
  text-align: left;
}