.card-container {
	margin: 2rem auto;
}
.card-row {
	height: 85vh;
}
.btn-custom {
	position: absolute;
	top: 0;
	right: 0;
}
.card-title-custom {
	display: inline-flex;
	text-align: left;
	text-shadow: 2px 0 0 #f6b969, -2px 0 0 #f6b969, 0 2px 0 #f6b969, 0 -2px 0 #f6b969, 1px 1px #f6b969, -1px -1px 0 #f6b969, 1px -1px 0 #f6b969, -1px 1px 0 #f6b969;
	color: rgb(231, 134, 7);
	margin-top: -4.5rem;
}
.card-ingredients {
	display: inline-flex;
  text-shadow: 2px 0 0 #f6b969, -2px 0 0 #f6b969, 0 2px 0 #f6b969, 0 -2px 0 #f6b969, 1px 1px #f6b969, -1px -1px 0 #f6b969, 1px -1px 0 #f6b969, -1px 1px 0 #f6b969;
	color: rgb(231, 134, 7);
}
.card-text-custom {
	position: relative;
	top: 1rem;
}
.cocktail-card {
	width: 18rem;
	text-align: center;
	margin-right: 3rem;
}
.cocktail-card {
	background-color: rgba(0, 255, 255, 0.335);
}
.cocktail-card-img-top {
	width: 200px;
	margin: 1rem auto;
	align-self: center;
	position: absolute;
	top: 1rem;
}
.favourites-table {
	margin: 2rem auto;
	width: 85vw;
}
.button-shuffle {
	width: 50vw;
	margin: 0 auto;
}
